<html xmlns="http://www.thymeleaf.org">
<header>

</header>
<header th:insert="~{fragments/changelang.html :: header}">
    </header>

<body>
    <div th:replace="~{fragments/changelang.html :: body}">
    </div>
    <ul th:each="pedido : ${pedidos}" th:object="${pedido}">
        <li> 
            <span style="color:blue" th:text="${pedido.nombre_usuario}"></span>
            <span style="color:blue" th:text="${pedido.date}"></span>
            <span style="color:blue" th:text="${pedido.estado}"></span>
           <img th:src="@{*{urlimagen}}" width="250px"  >
            <span>Editar</span>
            <button>Eliminar</button>
        </li>
    </ul>
    
</body>   
</html>